__pycache__/
*.py[cod]
.pytest_cache/
.conda/
.venv/
*.code-workspace
group*.txt

*.log
*.out
*.err

*.npz
*.pt

.eval_cache/

**/__pycache__/
**/.ipynb_checkpoints/

.eval_downstream_tmp/
eval_downstream/medfm_eval/cmd.env

/tmp/

/tmp_*/

eval_downstream/medfm_eval/data_manifests/
eval_downstream/medfm_eval/caches/
eval_downstream/medfm_eval/**/outputs_*/
